<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>mariet</title>
  <link rel="icon" href="./favicon.png" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,300&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <header>
    <a href="index.html"><img id="mariet-logo" src="./assets/images/mariet-logo.png" alt="mariet-logo" /></a>
    <nav>
      <a id="go-to" class="link__other" href="portfolio.html">
        Projects
      </a>
      <div>
        <a id="mail" href="mailto:mvadellrullan@gmail.com" target="_blank"> Mail </a>
        <a id="linkedin" href="https://www.linkedin.com/in/mariavadell/" target="_blank"> Linkedin </a>
      </div>
    </nav>
  </header>
  <main class="main">
    <div class="profile">
      <div class="profile-pic">
        <div class="hover-pic"></div>
      </div>
      <input type="image" id="skills-btn" src="./assets/images/logo-skills.png" alt="logo-skills" />
      <a id="download-link" href="./downloads/cv-mariavadellrullan.pdf" download><input type="image" id="download-btn"
          src="./assets/images/logo-descargar.png" alt="logo-descargar" /></a>
      <input type="image" id="timeline-btn" src="./assets/images/logo-barra-tiempo.png" alt="logo-barra-tiempo" />
    </div>
    <div class="about-container">
      <p class="about-me">“Hace unos años decidí viajar al sur, un viaje que iba a ser de unas semanas pero que
        durará toda mi vida. Siempre que vuelvo descubro nuevas perspectivas y formas de hacer. Por eso siempre
        llevo a cuestas una mochila sin fondo en la que guardo
        todo lo que aprendo, pregunto y veo; y ésta está cada vez más llena.
        <br>
        <br> Tengo la ilusión de seguir creciendo y de poder aportar, transmitir y compartir todo lo que soy y
        en lo que me estoy convirtiendo.”
      </p>
    </div>
    <div class="skills-container hide">
      <div class="skill-container">
        <img class="graph-img" src="./assets/images/95.png" alt="graph-95%">
        <h3>Autocad</h3>
      </div>
      <div class="skill-container">
        <img class="graph-img" src="./assets/images/90.png" alt="graph-90%">
        <h3>Archicad</h3>
      </div>
      <div class="skill-container">
        <img class="graph-img" src="./assets/images/90.png" alt="graph-90%">
        <h3>Adobe Photoshop</h3>
      </div>
      <div class="skill-container">
        <img class="graph-img" src="./assets/images/95.png" alt="graph-95%">
        <h3>Adobe Illustrator</h3>
      </div>
      <div class="skill-container">
        <img class="graph-img" src="./assets/images/80.png" alt="graph-80%">
        <h3>Adobe Indesign</h3>
      </div>
      <div class="skill-container">
        <img class="graph-img" src="./assets/images/80.png" alt="graph-80%">
        <h3>Adobe Freehand</h3>
      </div>
      <div class="skill-container">
        <img class="graph-img" src="./assets/images/80.png" alt="graph-80%">
        <h3>Movie Maker</h3>
      </div>
      <div class="skill-container">
        <img class="graph-img" src="./assets/images/90.png" alt="graph-90%">
        <h3>Microsoft Office</h3>
      </div>
      <div class="skill-container">
        <img class="graph-img" src="./assets/images/70.png" alt="graph-70%">
        <h3>Rhinoceros</h3>
      </div>
      <div class="skill-container">
        <img class="graph-img" src="./assets/images/70.png" alt="graph-70%">
        <h3>Sketchup</h3>
      </div>
    </div>

    <ul class="timeline hide">
      <li class="year">
        <div class="year-text two-years">
          <span>
            2022
          </span>
          <span>
            2021
          </span>
        </div>
        <ul>
          <li class="container small right">
            <div class="content">
              <h3>Lado Blanco</h3>
              <span>Arquitecta e interiorista</span>
            </div>
          </li>
        </ul>
      </li>

      <li class="year">
        <p class="year-text">2020</p>
        <ul>
          <li class="container small right">
            <div class="content">
              <h3>BOA MISTURA</h3>
              <span>Diseño gráfico y pintura</span>
            </div>
          </li>
          <li class="container small right">
            <div class="content">
              <h3>KUBUKA ONG</h3>
              <span>Community Manager</span>
            </div>
          </li>
          <li class="container small left">
            <div class="content">
              <span>Curso de Prevención de Riesgos Laborales en Pintura</span>
            </div>
          </li>
          <li class="container small left">
            <div class="content">
              <span>Curso de trabajos en altura</span>
            </div>
          </li>
        </ul>
      </li>

      <li class="year">
        <p class="year-text">2019</p>
        <ul>
          <li class="container small right">
            <div class="content">
              <h3>KUBUKA ONG</h3>
              <span>Community Manager</span>
            </div>
          </li>
          <li class="container small right">
            <div class="content">
              <h3>KUBUKA ONG</h3>
              <span>Diseño de Safe House en Livingstone</span>
            </div>
          </li>
          <li class="container small left">
            <div class="content">
              <h3>Máster Habilitante de Arquitectura</h3>
              <span>E.T.S.A.M.</span>
            </div>
          </li>
        </ul>
      </li>

      <li class="year">
        <p class="year-text">2018</p>
        <ul>
          <li class="container small right">
            <div class="content">
              <h3>BOA MISTURA</h3>
              <span>Colaboración en proyectos</span>
            </div>
          </li>
          <li class="container small right">
            <div class="content">
              <h3>KUBUKA ONG</h3>
              <span>Voluntariado en Zambia</span>
            </div>
          </li>
          <li class="container small right">
            <div class="content">
              <h3>KUBUKA ONG</h3>
              <span>Departamento de Comunicación, Diseño y Sensibilización</span>
            </div>
          </li>
        </ul>
      </li>

      <li class="year">
        <p class="year-text">2017</p>
        <ul>
          <li class="container small left">
            <div class="content">
              <h3>Grado en Arquitectura</h3>
              <span>Universidad Nebrija</span>
            </div>
          </li>
          <li class="container small left">
            <div class="content big">
              <h3>Prácticas en BOA MISTURA</h3>
              <span>Proyecto Ciudades Patrimonio</span>
            </div>
          </li>
        </ul>
      </li>

      <li class="year">
        <p class="year-text">2016</p>
        <ul>
          <li class="container small left">
            <div class="content">
              <h3>Prácticas en Virseda-Vila Arquitectos</h3>
            </div>
          </li>
        </ul>
      </li>

      <li class="year">
        <p class="year-text">2014</p>
        <ul>
          <li class="container small right">
            <div class="content">
              <span>Coordinadora en <strong>Residencias Nebrija</strong></span>
            </div>
          </li>
        </ul>
      </li>

      <li class="year">
        <p class="year-text">2013</p>
        <ul>
          <li class="container small left">
            <div class="content">
              <h3>Seminario de Desarrollo de Competencias Profesionales</h3>
            </div>
          </li>
          <li class="container small right">
            <div class="content">
              <span>Coordinadora en <strong>Residencias Nebrija</strong></span>
            </div>
          </li>
        </ul>
      </li>

      <li class="year">
        <p class="year-text">2010</p>
        <ul>
          <li class="container small left">
            <div class="content big">
              <h3>Curso de Tecnologías de la información y comunicación</h3>
              <span>Diseño gráfico, fotografía y teoría de la imagen</span>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </main>
  <script type="text/javascript" src="assets/js/main.js"></script>
</body>

</html>