<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>mariet</title>
  <link rel="icon" href="./favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <partial src="_header.html"></partial>
  <main>
    <div class="skills">
      to come
    </div>
    <div class="profile">
      <img class="profile-pic" src="./assets/images/foto-cv.png" alt="foto-perfil">
      <div class="hover-pic"></div>
      <img id="skills" src="./assets/images/logo-skills.png" alt="logo-skills">
      <img id="download" src="./assets/images/logo-descargar.png" alt="logo-descargar">
      <img id="timeline" src="./assets/images/logo-barra-tiempo.png" alt="logo-barra-tiempo">
    </div>
    <p class="about-me">“Hace dos años decidí viajar al sur, un viaje que iba a ser de unas semanas pero
      que durará toda mi vida. Siempre que vuelvo descubro nuevas perspectivas y
      formas de hacer. Por eso siempre llevo a cuestas una mochila sin fondo en la
      que guardo todo lo que aprendo, pregunto y veo;
      y ésta está cada vez más llena.
      <br>
      <br>
      Tengo la ilusión de seguir creciendo y de poder aportar, transmitir y compartir
      todo lo que soy y en lo que me estoy convirtiendo.”
    </p>
  </main>
</body>

</html>