<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>mariet</title>
  <link rel="icon" href="./favicon.png" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <partial src="_header.html"></partial>
  <main>
    <ul>
      <li>
        <h3><span>título_</span> Naturalis Safari Botánico</h3>
        <div class="projects_picture"></div>
        <div>
          <span>JPG</span>
          <span>TXT</span>
          <span>WEB</span>
        </div>
        <div>
          <p><span>date_</span></p>
          <p><span>city_</span></p>
        </div>
        <h4>Trabajo Final del Máster Habilitante de Arquitectura por la E.T.S.A.M</h4>
      </li>
      <li>
        <h3><span>título_</span> Casa para Inés</h3>
        <div class="projects_picture"></div>
        <div>
          <span>JPG</span>
        </div>
        <div>
          <p><span>date_</span></p>
          <p><span>city_</span></p>
        </div>
        <h4>Propuesta para la reforma de una ganga en idealista para inés.</h4>
      </li>
      <li>
        <h3><span>título_</span> Piso compartido</h3>
        <div class="projects_picture"></div>
        <div>
          <span>JPG</span>
        </div>
        <div>
          <p><span>date_</span></p>
          <p><span>city_</span></p>
        </div>
        <h4>Propuesta para dividir una casa de dos plantas en pisos para compartir</h4>
      </li>
      <li>
        <h3><span>título_</span> Safe House</h3>
        <div class="projects_picture"></div>
        <div>
          <span>JPG</span>
        </div>
        <div>
          <p><span>date_</span></p>
          <p><span>city_</span></p>
        </div>
        <h4>Diseño y construcción para la ONG KUBUKA de una casa para 25 niñas en riesgo de exclusión</h4>
      </li>
    </ul>
  </main>
</body>

</html>