main {
  display: grid;
  grid-template-columns: 1fr 18.75rem 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "skills profile info"
    "timeline timeline timeline";
  column-gap: 1.4688rem;
  padding: 1rem;
}

.hide {
  display: none;
}

//para el texto de la derecha
.profile {
  position: relative;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.profile-pic {
  grid-area: profile;
  width: 18.75rem;
  height: 18.75rem;
  position: relative;
  cursor: pointer;
  background: url("../images/foto-cv.png") no-repeat center center;
  background-size: cover;
  &:hover > .hover-pic {
    display: block;
  }
}

#skills-btn {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 2.8125rem;
  left: -1.4688rem;
  transform: translate(-100%, 0);
  z-index: 2;
  cursor: pointer;
  outline: none;
  transition: all ease 0.5s;
}

#skills-btn:hover {
  width: 2.7rem;
  height: 2.7rem;
  filter: contrast(0.5);
}

#download-btn {
  width: 2.6563rem;
  height: 2.875rem;
  position: absolute;
  top: 14.375rem;
  transform: translate(7.375rem, 0);
  z-index: 2;
  cursor: pointer;
  outline: none;
  transition: all ease 0.5s;
}

#download-btn:hover {
  filter: contrast(0.5);
}

#timeline-btn {
  width: 4rem;
  height: 3rem;
  position: absolute;
  top: 21.0938rem;
  z-index: 2;
  cursor: pointer;
  outline: none;
  transition: all ease 0.5s;
}

#timeline-btn:hover {
  width: 4.2rem;
  height: 3.2rem;
  filter: contrast(0.5);
}

.about-container {
  grid-area: info;
  margin-bottom: 0;
  text-align: justify;
  color: $grey-color;
  font-family: $font-text-description;
  font-style: italic;
  font-weight: 300;
  position: relative;
  .speech-bubble {
    position: absolute;
    top: -3.4375rem;
    padding-right: 2rem;
  }
}

.about-me {
  padding-bottom: 0.75rem;
  margin-left: 1.8125rem;
}

.sb:before {
  content: "";
  width: 0rem;
  height: 0rem;
  position: absolute;
  border-right: 27px solid transparent;
  border-top: 20px solid $grey-color;
  left: 3px;
  bottom: -18px;
}

.sb:after {
  content: "";
  width: 0rem;
  height: 0rem;
  position: absolute;
  border-left: 27px solid #f3f4f5;
  border-bottom: 20px solid transparent;
  left: 4px;
  bottom: -16px;
}

.border-bottom--25 {
  position: absolute;
  bottom: 0.0625rem;
  width: 25%;
  height: 0.0625rem;
  background-color: $grey-color;
  left: 1.75rem;
}

.hover-pic {
  width: 18.75rem;
  height: 18.75rem;
  background-color: rgba(109, 108, 108, 0.3);
  position: absolute;
  border-radius: 50%;
  display: none;
}

//skills
.skills {
  grid-area: skills;
  position: relative;
  text-align: center;
  display: inline-block;
  .skills-container {
    transform: translate(0px, -5%);
  }
}
.skill-container {
  h3 {
    font-family: $font-oswald;
    font-size: 0.9375rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 3rem;
    color: $grey-color;
  }
}
.skill-percent {
  margin-bottom: 1.25rem;
  .icon-program-img {
    width: 2.0625rem;
    height: 2.25rem;
    margin-right: 1.5625rem;
  }
  .graph-img {
    width: 17.8125rem;
    height: 2.625rem;
  }
}

//timeline
ul {
  list-style: none;
  font-family: $font-text-description;
  font-size: 0.9375rem;
  font-weight: 600;
}
.year {
  color: $grey-color;
  font-family: $font-oswald;
  font-size: 1.125rem;
  font-weight: 600;
}

.timeline {
  grid-area: timeline;
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 0.125rem;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -0.1875rem;
}

.year-text {
  transform: translateX(40%);
  font-weight: 400;
}

/* Container around content */
.container {
  position: relative;
  margin-bottom: 0.9375rem;
  padding: 0.375rem;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 1.5625rem;
  height: 1.5625rem;
  right: -0.75rem;
  background-color: white;
  border: 0.125rem solid black;
  top: 0.9375rem;
  border-radius: 50%;
  z-index: 1;
}

.container.small::after {
  content: "";
  position: absolute;
  width: 0.9375rem;
  height: 0.9375rem;
  right: -7.5px;
}

/* Place the container to the left */
.left {
  left: -50%;
  .content {
    display: flex;
    justify-content: flex-end;
  }
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -1.0625rem;
}

.container.container.small .content {
  padding-top: 0.375rem;
}

.container.small.right::after {
  left: -0.75rem;
}

/* The actual content */
.content {
  display: flex;
  align-items: baseline;
  padding: 0.6875rem 1.875rem 0.75rem 0.9375rem;
  position: relative;
  color: $black-color;
  font-family: $font-text-description;
  font-size: 0.9375rem;
}

.content.big {
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0.6875rem;
  padding-top: 0.3125rem;
  span {
    margin-top: 0.3125rem;
  }
}

span {
  margin-left: 0.3125rem;
  font-weight: 400;
}

h3 {
  margin: 0;
}

@media screen and (max-width: 1024px) {

}

// @media screen and (max-width: 768px) {
//   /* Place the timelime to the left */
//   .timeline::after {
//     left: 31px;
//   }

//   /* Full-width containers */
//   .container {
//     width: 100%;
//     padding-left: 70px;
//     padding-right: 25px;
//   }

//   /* Make sure all circles are at the same spot */
//   .left::after,
//   .right::after {
//     left: 15px;
//   }

//   /* Make all right containers behave like the left ones */
//   .right {
//     left: 0%;
//   }
// }
