main {
  display: grid;
  grid-template-columns: 1fr 18.75rem 1fr;
  grid-template-rows: auto;
  column-gap: 1.4688rem;
  padding: 1rem;
}

.hide {
  display:none;
}

//para el texto de la derecha
.profile {
  position: relative;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.profile-pic {
  width: 18.75rem;
  height: 18.75rem;
  position:relative;
  cursor: pointer;
  background: url('../images/foto-cv.png') no-repeat center center;
  background-size: cover;
  &:hover > .hover-pic {
    display: block;
  }
}

input:hover {
  filter: contrast(0.5);
}
#skills-btn {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 2.8125rem;
  left: -1.4688rem;
  transform: translate(-100%, 0);
  z-index: 2;
  cursor: pointer;
  outline: none;
}

#download-btn {
  width: 2.6563rem;
  height: 2.875rem;
  position: absolute;
  top: 14.375rem;
  transform: translate(7.375rem, 0);
  z-index: 2;
  cursor: pointer;
  outline: none;
}

#timeline-btn {
  width: 65px;
  height: 60px;
  position: absolute;
  top: 21.0938rem;
  z-index: 2;
  cursor: pointer;
  outline: none;
}

.about-container {
  margin-bottom: 0;
  text-align: justify;
  color: $grey-color;
  font-family: $font-text-description;
  position: relative;
  .speech-bubble {
    position: absolute;
    top: -3.4375rem;
    padding-right: 10.6875rem;
  }
}

.about-me {
  padding-bottom: 1.75rem;
  margin-left: 1.8125rem;
}

.sb:before {
  content: "";
  width: 0rem;
  height: 0rem;
  position: absolute;
  border-right: 1.6875rem solid transparent;
  border-top: 1.25rem solid $grey-color;
  left: 0.1875rem;
  bottom: -1.125rem;
}

.sb:after {
  content: "";
  width: 0rem;
  height: 0rem;
  position: absolute;
  border-left: 1.7188rem solid #f3f4f5;
  border-bottom: 1.2813rem solid transparent;
  left: 0.25rem;
  bottom: -1rem;
}

.border-bottom--25 {
  position: absolute;
  bottom: 0.0625rem;
  width: 25%;
  height: 0.0625rem;
  background-color: $grey-color;
  left: 1.75rem;
}

.hover-pic {
  width: 18.75rem;
  height: 18.75rem;
  background-color: rgba(109, 108, 108, 0.3);
  position: absolute;
  border-radius: 50%;
  display: none;
}

//skills
.skills{
  position: relative;
  text-align: center;
  display: inline-block;
  .skills-container{
    transform: translate(0px, -5%);
  }
}
.skill-container{
  h3 {
    font-family: $font-oswald;
    font-size: 15px;
    font-weight: 200;
    text-transform: uppercase;
    margin-left: 48px;
    color: $grey-color;
  }
}
.skill-percent{
  margin-bottom: 20px;
  .icon-program-img{
    width: 33px;
    height: 36px;
    margin-right: 25px;
  }
  .graph-img{
    width: 285px;
    height: 42px;
  }
}