main {
  display: grid;
  grid-template-columns: 1fr 25rem 1fr;
  grid-template-rows: auto;
  column-gap: 37px;
  padding: 1rem;
}

.profile {
  position: relative;
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 25rem;
  height: 25rem;
  &:hover + div.about-container {
    display: block;
    .speech-bubble {
      position: absolute;
      top: -3.4375rem;
      padding-right: 6.5625rem;
    }
  }
  &:hover .hover-pic {
    display: block;
    cursor: pointer;
  }
}
.profile-pic {
  width: 25rem;
  height: 25rem;
}

#skills {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  top: 2.8125rem;
  left: 50%;
  transform: translate(-17.7188rem, 0);
}

#download {
  width: 3.9063rem;
  height: 4.125rem;
  position: absolute;
  top: 19.4375rem;
  transform: translate(9.5469rem, 0);
}

#timeline {
  width: 5.3125rem;
  height: 5rem;
  position: absolute;
  top: 27.3438rem;
}

.about-container {
  margin-bottom: 0;
  text-align: justify;
  color: $grey-color;
  font-family: $font-text-description;
  display: none;
  position: relative;
}

.about-me {
  padding-bottom: 28px;
  margin-left: 29px;
  //border-bottom: 1px solid $grey-color
}

.sb:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 27px solid transparent;
  border-top: 20px solid $grey-color;
  left: 3px;
  bottom: -18px;
}

.sb:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 27.5px solid #f3f4f5;
  border-bottom: 20.5px solid transparent;
  left: 4px;
  bottom: -16px;
}

.border-bottom--25 {
  position: absolute;
  bottom: 1px;
  width: 25%;
  height: 1px;
  background-color: $grey-color;
  left: 28px;
}

.hover-pic {
  width: 25rem;
  height: 25rem;
  background-color: rgba(109, 108, 108, 0.3);
  position: absolute;
  border-radius: 50%;
  display: none;
}
