header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem 3.4375rem;
  margin-bottom: 3rem;

  #mariet-logo {
    height: 2.875rem;
  }

  nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    a {
      text-decoration: none;
      font-family: $font-main;
      color: $black-color;
      font-size: 1.125rem;
      font-weight: 300;
      margin: 0 0.9375rem;
    }
    #linkedin {
      margin-left: 0;
    }
    #go-to{
      border-right: 0.0625rem solid black;
      padding-right: 0.9375rem;
    }
  }

  a:hover {
    filter: contrast(0.5);
  }
}

@media (max-width: 992px) {
  header {
    margin-bottom: 1rem;
    padding: 1.5rem 2rem;;
  }
}

@media (max-width: 576px) {
  header {
    padding: 1rem;

    #mariet-logo {
      height: 1.75rem;
    }
    nav {
      a { 
        font-size: 0.875rem;
        font-weight: 400;
        margin: 0 0.3125rem;
      }
      #go-to {
        padding-right: 0.3125rem;
      }
    }
  }
}
