header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem 3.4375rem;
  margin-bottom: 3rem;

  #mariet-logo {
    height: 2.875rem;
  }

  nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    #mail {
      margin-right: 1.875rem;
      img {
      width: 40px;
      height: 27px;
      }
    }
    #linkedin {
      img {
      width: 28px;
      }
    }
  }

  a:hover {
    filter: contrast(0.5);
  }
}
