.link__adalab:hover {
  background-color: #099d8d;
  color: #fff;
}

.link__github:hover {
  background-color: #ccc;
  color: #000;
}

.projects_title {
  font-size: 3rem;
  text-align: center;
}

.projects_container {
  padding: 55px;
  font-family: $font-oswald;

  ul {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(260px, 300px));
    grid-template-rows: auto;
    column-gap: 25px;
    row-gap: 25px;
  }

  li {
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 5px;
    span {
      font-weight: 700;
    }
  }

  .projects_picture {
    border: 1px solid black;
    width: 240px;
    height: 162px;
  }

  .projects_buttons {
    margin-top: 10px;
    max-width: 240px;
    display: flex;
    justify-content: space-between;
  }

  .projects_info{
    margin: 10px 0;
  }
}
