.link__adalab:hover {
  background-color: #099d8d;
  color: #fff;
}

.link__github:hover {
  background-color: #CCC;
  color: #000;
}

:host{
  padding: 85px;
}

.projects_picture{
  border: 1px solid black;
  width: 240px;
  height: 162px;
}
